.card {
    width: 100%;
    max-width: 400px; /* Opcional, para limitar el ancho máximo */
    margin: 0 auto; /* Centrar la card horizontalmente */
  }

  .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .btn-dark:hover {
    background-color: #23272b;
    border-color: #23272b;
  }